@font-face {
    font-family: 'Helvetica';
    font-weight: normal;
    src: url(fonts\helvetica_regular.ttf) format(truetype);
}

@font-face {
    font-family: 'Helvetica';
    font-weight: bold;
    src: url(fonts\helvetica_bold.ttf) format(truetype);
}

html {
    --black: #212121;
    --light-gray: #E9EBED;
    --green: #2ECC87;
    --white: #FFFFFF;
}

body {
    box-sizing: border-box;
    background-color: var(--white);
    height: 100vh;
    margin: 0;
}

header {
    background-color: var(--white);
    border-bottom: 1px solid var(--light-gray);

    display: flex;
    align-items: center;
    justify-content: center;
}

header img {
    height: 60px;
    margin: 0 10px;
}

h1 {
    color: var(--black);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

h2 {
    color: var(--black);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 1rem;
}

h3 {
    color: var(--black);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    line-height: 0.4rem;
}

p, li {
    color: var(--black);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    line-height: 1rem;
}

li::marker {
    font-size: 20px;
}

ul {
    list-style-image: url('../files/TimeTree_Green_Symbol.svg');
}

.video {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

video {
    border: 3px solid var(--green);
    border-radius: 4px;
    width: 70%;
    margin-bottom: 2rem;
    min-width: 300px;
}

.description {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0.5rem;
}

.content {
    background-color: var(--white);
    border-bottom: 1px solid var(--light-gray);
    padding: 1rem;
    width: 50%;
    min-width: 300px;
}

@media (width <= 600px) {
    header {
        display: flex;
        flex-direction: column;
    }

    h1 {
        text-align: center;
        margin: 0;
        margin-bottom: 10px;
    }
}